@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #00FF41;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0D0D0D; }
::-webkit-scrollbar-thumb { background: #00FF41; border-radius: 0px; }
